* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 60px;
}
header {
    height: 60px;
    background-color: #f6f6f6;
    position: fixed;
    width: 100%;
    top: 0;
    transition: height 0.5s;
}
header.changeHeader{
    height: 50px;
    background-color: royalblue;
    box-shadow: 2px 5px 5px;
}
header ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

header ul li a {
    display: block;
    margin: 5px;
    background-color: #f50;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
header ul li a.active {
    background-color: greenyellow;
  
}
section{
    min-height: 400px;
}
section.home {
    background-color: coral;
}
section.about {
    background-color: cornflowerblue;
}section.portfolio {
    background-color: darkorange;
}section.contact {
    background-color: darkviolet;
}

.portfolio img {
    width: 430px;
    height: 450px;
}
textarea {
    display: block;
}
.scrollTop {
    position: fixed;
    bottom: 10px;
    right: 0;
    background-color: red;
    color: #fff;
    cursor: pointer;
    padding: 12px;
    display: none;
}